---
layout: default
---

<div class="container">
  <div class="span5">
    <h1>angular-table</h1>
    <br>
    <angular-tabs id="mainTabs" active-tab="Basic Example">
      <div tab-title="Basic Example"><br>
        <angular-tabs id="basicExampleTabs" active-tab="Result"> <br>
          <div tab-title="Result">
            <div class="row" ng-controller="basicExampleCtrl">
              <div class="col-md-12">
                {% include html/basic_example.html %}
              </div>
            </div>
          </div>
          <div tab-title="Code">
            <div ng-non-bindable>
              <h4>Html</h4>
{% highlight html %}
{% include html/basic_example.html %}
{% endhighlight %}
              <h4>Javascript</h4>
{% highlight javascript %}
{% include js/basicExampleCtrl.js %}
{% endhighlight %}
            </div>
          </div>
        </angular-tabs>
      </div>

      <div tab-title="Rendering Cells">
        {% include html/rendering_cells.html %}
      </div>

      <div tab-title="Customizing The Header">
        {% include html/customizing_the_header.html %}
      </div>

      <div tab-title="Filtered Table"><br>
        <angular-tabs id="filteredTableTabs" active-tab="Result"> <br>
          <div tab-title="Result">
            <div class="row">
              <div class="col-md-10">
                {% include html/filtered_table.html %}
              </div>
              <div class="col-md-2">
                {% include html/control_panel.html %}
              </div>
            </div>
          </div>
          <div tab-title="Code">
            <div ng-non-bindable>
              <h4>Html</h4>
{% highlight html %}
{% include html/filtered_table.html %}
{% endhighlight %}
              <h4>Javascript</h4>
{% highlight javascript %}
{% include js/filteredTableCtrl.js %}
{% endhighlight %}
            </div>
          </div>
        </angular-tabs>
      </div>
    </angular-tabs>
  </div>
</div>