---
layout: default
---

<div class="container">
  <h1>angular-table</h1>
  <br>
  <angular-tabs id="mainTabs" active-tab="Basic Example">
    <div tab-title="Basic Example"><br>
      <angular-tabs id="basicExampleTabs" active-tab="Result"> <br>
        <div tab-title="Result">
          <div class="row" ng-controller="basicExampleCtrl">
            <div class="col-md-12">
              {% include html/basic_example.html %}
            </div>
          </div>
        </div>
        <div tab-title="Code">
          <div ng-non-bindable>
            <h4>Html</h4>
{% highlight html %}
{% include html/basic_example.html %}
{% endhighlight %}
            <h4>Javascript</h4>
{% highlight javascript %}
{% include js/basicExampleCtrl.js %}
{% endhighlight %}
          </div>
        </div>
      </angular-tabs>
    </div>

    <div tab-title="Interactive Example"><br>
      <angular-tabs id="interactiveExampleTabs" active-tab="Result"> <br>
        <div tab-title="Result">
          <div class="row"ng-controller="interactiveExampleCtrl">
            <div class="col-md-7">
              {% include html/interactive_example.html %}
            </div>
            <div class="col-md-5">
              {% include html/control_panel.html %}
            </div>
          </div>
        </div>
        <div tab-title="Code">
          <div ng-non-bindable>
            <h4>Html</h4>
{% highlight html %}
{% include html/interactive_example.html %}
{% endhighlight %}
            <h4>Javascript</h4>
{% highlight javascript %}
{% include js/interactiveExampleCtrl.js %}
{% endhighlight %}
          </div>
        </div>
      </angular-tabs>
    </div>

    <div tab-title="Rendering Cells">
{% include html/rendering_cells.html %}
    </div>

    <div tab-title="Customizing The Header">
{% include html/customizing_the_header.html %}
    </div>
  </angular-tabs>
</div>