{% raw %}

<input placeholder="Search..." type="text" ng-model="query" ng-change="queryChanged(query)">

<table id="filteredTable" class="table table-striped table-bordered" at-table
       at-list="filteredList"
       at-items-per-page="7"
       at-fill-last-page>
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit class="50px" at-attribute="id"></td>
      <td at-implicit class="110px" at-attribute="description"></td>
      <td at-title="length" at-attribute="lengthOfDescription">
        The length of the word '{{item.description}}' is {{item.description.length}}
      </td>
    </tr>
  </tbody>
</table>

<at-pagination at-table-id="filteredTable"></at-pagination>
{% endraw %}