{% raw %}

<input placeholder="Search..." type="text" ng-model="query" ng-change="queryChanged(query)">

<table at-table class="table table-striped table-bordered" at-pagination="filteringPagination" at-fill-last-page>
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit class="50px" at-attribute="id"></td>
      <td at-implicit class="110px" at-attribute="description"></td>
      <td at-title="length" at-attribute="lengthOfDescription">
        The length of the word '{{item.description}}' is {{item.description.length}}
      </td>
    </tr>
  </tbody>
</table>

<at-pagination at-items-per-page="7" at-instance="filteringPagination" at-list="filteredList"></at-pagination>
{% endraw %}