{% raw %}
<table id="sortingPagingTable" class="table table-striped table-bordered" at-table
       at-list="longLoremList"
       at-items-per-page="7"
       at-fill-last-page
       at-pagination="a">
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit at-sortable at-initial-sorting="asc" class="50px" at-attribute="id"></td>
      <td at-implicit at-sortable class="110px" at-attribute="description"></td>
      <td at-sortable at-title="length" at-attribute="lengthOfDescription">
        The length of the word '{{item.description}}' is {{item.description.length}}
      </td>
    </tr>
  </tbody>
</table>

<at-pagination at-table-id="sortingPagingTable"></at-pagination>
{% endraw %}