<label class="control-label">Items Per Page</label>
<select ng-model="itemsPerPage" ng-init="itemsPerPage=10">
  <option value="2">2</option>
  <option value="5">5</option>
  <option value="10">10</option>
</select>

<label class="control-label">Maximum Pages</label>
<select ng-model="maxPages" ng-init="maxPages=10">
  <option value="2">2</option>
  <option value="5">5</option>
  <option value="10">10</option>
</select>

<label class="control-label">Fill Last Page</label>
<select ng-model="fillLastPage" ng-init="fillLastPage='yes'">
  <option value="yes">yes</option>
  <option value="no">no</option>
</select>
