<label>$scope.itemsPerPage</label>
<select ng-model="config.itemsPerPage" class="form-control">
  <option value="3">3</option>
  <option value="5">5</option>
  <option value="9">9</option>
</select>

<label>$scope.maxPages</label>
<select ng-model="config.maxPages" class="form-control">
  <option value="1">1</option>
  <option value="3">3</option>
  <option value="5">5</option>
  <option value="9">9</option>
</select>

<label>$scope.fillLastPage</label>
<select ng-model="config.fillLastPage" class="form-control">
  <option value="yes">yes</option>
  <option value="no">no</option>
</select>