{% raw %}
<div ng-controller="filteredTableCtrl">
  <input placeholder="Search..." type="text" ng-model="query" ng-change="updateFilteredList(query)" class="form-control">

  <table id="filteredTable" class="table table-striped"
    at-table
    at-list="list"
    at-items-per-page="itemsPerPage"
    at-max-pages="maxPages"
    at-fill-last-page="fillLastPage">
    <thead></thead>
    <tbody>
      <tr>
        <td at-implicit at-sortable at-attribute="index" class="150px" at-initial-sorting="asc"></td>
        <td at-implicit at-sortable at-attribute="name"  class="250px"></td>
        <td at-implicit at-sortable at-attribute="email"></td>
        <td at-title="Delete">
          <button type="button" class="btn btn-danger btn-xs" ng-click="del($index)">blaa</button>
        </td>
      </tr>
    </tbody>
  </table>

  <at-pagination at-table-id="filteredTable"></at-pagination>
</div>
{% endraw %}